    <!-- Navigation -->
    <nav class="mb-8">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between h-16">
                <div class="flex items-center">
                    <a href="/" class="text-slate-800 font-bold text-xl">LingoRaft</a>
                </div>
                <div class="hidden md:flex items-center space-x-8 text-sm">
                    <a href="#" class="text-slate-800 hover:text-slate-900">Courses</a>
                    <a href="#" class="text-slate-800 hover:text-slate-900">Live Classes</a>
                    <a href="#" class="text-slate-800 hover:text-slate-900">Self-Paced</a>
                    <button class="font-bold">
                        Sign Up
                    </button>
                </div>
            </div>
        </div>
    </nav>