{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
    <div class="max-w-7xl mx-auto px-4">
        <h2 class="text-3xl font-bold text-slate-800 mb-4">Your Courses</h2>

        {% for cohort in cohorts %}
        <!-- Course Block -->
        <div class="mb-8 bg-primary-100 rounded-2xl p-6">
            <!-- Course Header with Progress -->
            <div class="mb-6 flex flex-col sm:flex-row justify-between items-start">
                <div class="w-full sm:w-auto text-center sm:text-left">
                    <h2 class="text-2xl font-bold text-slate-800">{{ cohort.name }}</h2>
                    <p class="text-sm text-slate-600">Instructor: {{ cohort.teacher.get_full_name }}</p>
                </div>
                <!-- Course Progress -->
                <div class="sm:w-64 mt-4 sm:mt-0 w-full">
                    <div class="mb-2 flex justify-between text-sm text-slate-600">
                        <span>Course Progress</span>
                        <span>{{ cohort.course_progress }}%</span>
                    </div>
                    <div class="w-full bg-primary-200 rounded-full h-2.5">
                        <div class="bg-primary-600 h-2.5 rounded-full" style="width: {{ cohort.course_progress }}%"></div>
                    </div>
                    <p class="text-xs text-slate-500 mt-1">
                        {% with cohort.sessions.first as first_session %}
                        {% with cohort.sessions.last as last_session %}
                        {{ first_session.start_time|date:"M j, Y" }} - {{ last_session.end_time|date:"M j, Y" }}
                        {% endwith %}
                        {% endwith %}
                    </p>
                </div>
            </div>

            <div class="grid md:grid-cols-2 gap-8">
                <!-- Left Column - Course Progress and Sessions -->
                <div class="bg-white rounded-xl shadow-lg p-6">
                    <!-- Upcoming Sessions -->
                    <h3 class="font-bold text-slate-800 mb-4">Upcoming Sessions</h3>
                    {% include 'classes/sessions_component.html' %}
                </div>

                <!-- Right Column - Assignments Due -->
                <div class="bg-white rounded-xl shadow-lg p-6">
                    <h2 class="text-xl font-bold text-slate-800 mb-4">Upcoming Assignments</h2>
                    {% include 'classes/assignments_component.html' %}
                </div>

                <!-- Left Column - Quizzes -->
                <div class="bg-white rounded-xl shadow-lg p-6">
                    <!-- Upcoming Quizzes -->
                    <h3 class="font-bold text-slate-800 mb-4">Upcoming Quizzes</h3>
                    {% include 'classes/quizzes_component.html' %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
