                <div class="bg-white rounded-xl border border-slate-200 p-8 mb-8">
                    <p>Have questions about the course? Let us know over at <a class="text-primary-800" href="mailto:applications@opencamp.cc">applications@opencamp.cc</a> or you can schedule a time to chat here:</p>
                    <script type="text/javascript" async src="https://static.zcal.co/embed/v1/embed.js"></script>
                    <div class="zcal-inline-widget"><a href="https://zcal.co/i/d8J4u8K4">open camp Course Discussion - Schedule a meeting</a></div>
                </div>