{% extends 'partials/anonymous_base.html' %}
{% load static %}

{% block content %}

<div class="flex flex-col min-h-full">
  <div class="flex justify-center items-center">
    <img src="{% static 'img/hero.png' %}" alt="open camp teaching image" class="h-64 object-cover rounded-xl">
  </div>

  <div class="bg-primary-50 flex flex-1 flex-col px-4 py-6 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div class="text-center">
        <h2 class="mt-2 text-2xl font-bold leading-9 tracking-tight text-gray-900">Create your account</h2>

        <p class="mt-4">Hi {{ invite.user.first_name }}! You have been invited to join open camp's learning platform.</p>
        <p class="mt-2">Create your account to start learning.</p>
      </div>

      <div class="mt-10">
        <div>
          <form action="" method="POST" class="space-y-6">
            {% csrf_token %}
            <div>
              <label for="email" class="block text-sm font-medium leading-6 {% if form.errors.email %}text-red-700{% else %}text-gray-900{% endif %}">Email address</label>
              <div class="mt-2">
                <input id="email" name="email" type="email" autocomplete="email"
                  required readonly
                  class="block w-full rounded-md border-0 py-1.5 px-2 bg-gray-200 shadow-sm hover:cursor-default ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
                  value="{{ invite.user.email }}">
                {% if form.errors.email %}<p class="text-red-700 text-sm font-medium">{{ form.errors.email.0 }}</p>{% endif %}
              </div>
            </div>

            <div>
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
              <div class="mt-2">
                <input id="password" name="password" type="password" autocomplete="new-password" required
                  class="block w-full rounded-md border-0 px-2 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div>
              <label for="password2" class="block text-sm font-medium leading-6 {% if form.errors.password2 %}text-red-700{% else %}text-gray-900{% endif %}">Confirm Your Password</label>
              <div class="mt-2">
                <input id="password2" name="password2" type="password" autocomplete="new-password" required
                  class="block w-full rounded-md border-0 px-2 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-600 sm:text-sm sm:leading-6">
                {% if form.errors.password2 %}<p class="mt-2 text-red-700 text-sm font-medium">{{ form.errors.password2.0 }}</p>{% endif %}
              </div>
            </div>

            <div>
              <button type="submit" class="flex w-full justify-center rounded-md bg-primary-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-primary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600">
                Start Learning
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
